In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
X=df.drop("target",axis=1)
y=df["target"]

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=101)
X_valid, X_test, y_valid, y_test = train_test_split(X_test, y_test, test_size=0.4, random_state=101)

In [5]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)
X_valid=scaler.transform(X_valid)

In [6]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=64,random_state=101)
rfc.fit(X_train,y_train)

RandomForestClassifier(n_estimators=64, random_state=101)

In [7]:
final_model=RandomForestClassifier(n_estimators=64,random_state=101)
final_model.fit(X,y)

RandomForestClassifier(n_estimators=64, random_state=101)

# pickling

In [8]:
import joblib

In [9]:
joblib.dump(final_model,'final_model.pkl')

['final_model.pkl']

In [10]:
list(X.columns)

['age',
 'sex',
 'cp',
 'trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalach',
 'exang',
 'oldpeak',
 'slope',
 'ca',
 'thal']

In [11]:
joblib.dump(list(X.columns),'column_names.pkl')

['column_names.pkl']